.curveEdges{
	border-radius:10%;
	width:400px;
}

.TopNavBar{
	background-color: mintcream;
	border: 5px solid mintcream;
	border-radius: 5px;
}

body {
	font-family: 'Montserrat', sans-serif;
	margin: 20px;

}

nav{

	margin-bottom: 10px;
}



h1{
	font-size:50px;
	margin:5px;
	color:navy;
	margin-left: 0px;
}

h3 {
	color:purple;
}

a:link {
	text-decoration: none;
	padding:10px;
	padding-left: 0px;
	color:purple;
}

a:hover {
	color:pink;
}

a:visited{
	color:navy;
}