.leftspace {
	padding-left: 0px;
}

body {
	font-family: "Arial",Arial,sans-seriff;
	margin: 20px;

}

nav{

	margin-bottom: 10px;
}

img{
	border-radius:10%;
	width:400px;
}

h1{
	font-size:50px;
	margin:5px;
	color:#800020;
}

h3 {
	color:pink;
}

a {
	text-decoration: none;
	padding:10px;
}